.topTabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.topButton, .activeTopButton {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.topButton {
  background-color: #ddd;
  color: #000;
}

.activeTopButton {
  background-color: #0044cc;
  color: #fff;
}
