.navbar {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #fff;
}

.navButton, .activeTab {
  background: none;
  border: none;
  color: #555;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeTab {
  color: #0044cc;
}

.navButton svg, .activeTab svg {
  font-size: 20px;
  margin-bottom: 5px;
}
